@import "tailwindcss";

@theme {
  --color-brand-dark: #0f172a;
  --color-brand-primary: #3b82f6;
  --color-brand-accent: #8b5cf6;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  @apply bg-slate-50 text-slate-900;
}